<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MVC_Example</display-name>
  <welcome-file-list>
    <welcome-file>dangNhap.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DanhSachKHServlet</display-name>
    <servlet-name>DanhSachKHServlet</servlet-name>
    <servlet-class>controller.DanhSachKHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachKHServlet</servlet-name>
    <url-pattern>/DanhSachKHServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangNhapServlet</display-name>
    <servlet-name>DangNhapServlet</servlet-name>
    <servlet-class>controller.DangNhapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhapServlet</servlet-name>
    <url-pattern>/DangNhapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThemSinhVienServlet</display-name>
    <servlet-name>ThemSinhVienServlet</servlet-name>
    <servlet-class>controller.ThemSinhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThemSinhVienServlet</servlet-name>
    <url-pattern>/ThemSinhVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuaSinhVienServlet</display-name>
    <servlet-name>SuaSinhVienServlet</servlet-name>
    <servlet-class>controller.SuaSinhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuaSinhVienServlet</servlet-name>
    <url-pattern>/SuaSinhVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoaSinhVienServlet</display-name>
    <servlet-name>XoaSinhVienServlet</servlet-name>
    <servlet-class>controller.XoaSinhVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaSinhVienServlet</servlet-name>
    <url-pattern>/XoaSinhVienServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainPanelServlet</display-name>
    <servlet-name>MainPanelServlet</servlet-name>
    <servlet-class>controller.MainPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPanelServlet</servlet-name>
    <url-pattern>/MainPanelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachVaccineServlet</display-name>
    <servlet-name>DanhSachVaccineServlet</servlet-name>
    <servlet-class>controller.DanhSachVaccineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachVaccineServlet</servlet-name>
    <url-pattern>/DanhSachVaccineServlet</url-pattern>
  </servlet-mapping>
</web-app>